@use 'shared';

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
font-family: 'Noto Serif', serif;
font-family: 'Nunito', sans-serif;
font-family: 'Lora', serif;
*/


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    //border: 1px solid lightgray;
}

body {
    min-width: 300px;
    //min-height: 100vh;
    //max-width: 700px;
    //padding: max(1rem, 1vw) max(3rem, 3vw);

    background-color: shared.$veryLightGray; // light gray
    //background: linear-gradient(90deg, #f5f5f5, #e5e5e5); // light gray vertical gradiant
    font-family: 'Nunito', sans-serif;

    color: shared.$black;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

p {
    line-height: 1.5;
}

ul {
    margin-left: 1.5rem;
}

li {
    line-height: 1.5;
}


// STYLE MODULES

.text-center {
    text-align: center;
}

.big-text {
    font-size: 1.25rem;
    font-weight: 700;
}