@use 'shared';

.header {
    padding: 1rem;

    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    column-gap: 1rem;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid lightgray;
    color: shared.$gray;
    background-color: shared.$white;
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: 0 100%;

    &__title-wrapper {
        flex-shrink: 0;
    }

    &__title {
        font-family: 'Lora', serif;
        font-weight: 400;
        font-style: italic;
    }

    &__subtitle {
        letter-spacing: .5px;
        font-size: .875rem;
        text-transform: uppercase;
        font-weight: 400;
    }
}
