@use 'shared';

.intro-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.intro {
    position: absolute;
    color: gray;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;

    &--repos-loaded {
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 2rem;
        row-gap: .5rem;
    }

    &--repos-loaded &__btn {
        cursor: pointer;
        padding: .4rem .8rem;

        border: 1px solid gray;
        border-radius: 3px;
        background-color: transparent;

        font-family: 'Nunito', sans-serif;
        color: shared.$black;
        text-transform: uppercase;
        font-size: .675rem;
        letter-spacing: 1px;
    }


    &--repos-not-loaded {
        flex-direction: column;
        row-gap: 1.5rem;
    }

    &--repos-not-loaded &__search-bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .5rem;
    }

    &--repos-not-loaded &__username-input {
        padding: .5rem 1rem;

        border: none;
        border-radius: 3px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);

        font-family: 'Nunito', sans-serif;
        font-size: 1rem;
    }

    &--repos-not-loaded &__icon {
        cursor: pointer;
        font-size: 1.5rem;
    }

    &__error_msg {
        color: red;
        font-weight: 600;
    }


    &--repos-loading {
        flex-direction: column;
        row-gap: 1.5rem;
    }

    &--repos-loading &__loading-animation-container {
        width: 3rem;
        height: 3rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &--repos-loading &__loading-animation {
        width: 2rem;
        height: 2rem;

        background-color: lightgray;
        border-radius: 3px;
        border: 2px solid white;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

        animation: loading-animation 3.5s ease-in-out infinite;
    }
}

@keyframes loading-animation {
    0% {
        width: 3rem;
        height: 2rem;
        transform: translateX(2rem);
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        width: 3rem;
        height: 2rem;
        transform: translateX(-2rem);
        opacity: 0;
    }
    51% {
        width: 2rem;
        height: 3rem;
        transform: translateX(2rem);
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        width: 2rem;
        height: 3rem;
        transform: translateX(-2rem);
        opacity: 0;
    }
}
