@use 'shared';

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;

    &__image {
        opacity: 0;
        max-width: 80%;
        max-height: 80%;

        border: 5px solid white;
        border-radius: 5px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

        transition: all .3s ease;
    }
}