@use 'shared';

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.48);

        //display: grid;
        //place-items: center;

    display: flex;
    align-items: center;
    justify-content: center;

    &__image {
        //display: block;
        //margin: 0 auto;
        max-width: 60%;
        max-height: 80%;
    }
}