@use 'shared';

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 5vh 5vw;

    background: linear-gradient(
                    rgba(0, 0, 0, 0.7),
                    rgba(0, 0, 0, 0.85)
    );
    color: shared.$white;

    display: grid;
    grid-gap: 5vh;
    align-content: center;
    justify-items: center;

    &__name {
        transform: translateY(-2rem);
        opacity: 0;
        transition: all .3s ease;

        font-family: 'Lora', serif;
        font-style: italic;
        font-size: 1.5rem;
    }

    &__image {
        min-height: 0;
        opacity: 0;
        max-width: 100%;
        max-height: 100%;

        border: 5px solid white;
        border-radius: 5px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        object-fit: contain;

        transition: all .3s ease;
    }

    &__description {
        transform: translateY(2rem);
        opacity: 0;
        transition: all .4s ease .1s;

        max-width: 50ch;
        text-align: center;
    }

    &__links-wrapper {
        transition: all .5s ease .2s;
        opacity: 0;
        transform: translateY(2rem);

        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    &__repo-link,
    &__homepage {
        color: shared.$white;
        text-underline-offset: .25rem;
        text-transform: uppercase;
        font-size: .675rem;
        letter-spacing: 1px;
    }

    @media only screen and (orientation: landscape) {
        &--tall-image.modal--with-description {
            justify-content: center;
            grid-template-areas:
                'name .'
                'image description'
                'links .';
            grid-template-columns: auto 20ch;
            align-items: center;
            justify-items: center;
            column-gap: 2rem;
        }

        &--tall-image.modal--with-description &__name {
            grid-area: name;
        }

        &--tall-image.modal--with-description &__image {
            grid-area: image;
        }

        &--tall-image.modal--with-description &__description {
            grid-area: description;
            text-align: left;
            transform: translateX(2rem);
        }

        &--tall-image.modal--with-description &__links-wrapper {
            grid-area: links;
        }
    }
}
