@use 'shared';

.repo-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: max(5rem, 5vw);

    padding: 0 max(3rem, 3vw) max(5rem, 5vh);
}

.repo-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__screenshot {
        height: 100%;
        width: 100%;

        border: 5px solid white;
        border-radius: 5px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

        cursor: pointer;
    }

    &--wide &__screenshot {
        max-height: 250px;
    }

    &--tall &__screenshot {
        max-width: 250px;
    }

    &__link {
        color: shared.$black;
        text-underline-offset: .5rem;
        margin-top: 1.5rem;
        font-family: 'Lora', serif;
        font-style: italic;
        font-size: 1.2rem;
    }
}
